@import "tailwindcss";

@theme {
  --color-prim-50: #f0f3ff;
  --color-prim-100: #dce5ff;
  --color-prim-200: #bcceff;
  --color-prim-300: #95b5ff;
  --color-prim-400: #6c9fff;
  --color-prim-500: #1e87ff;
  --color-prim-600: #0073df;
  --color-prim-main-700: #005eb8;
  --color-prim-800: #003f7f;
  --color-prim-900: #002148;
  --color-prim-950: #001532;

  --color-seco-50: #f1f4f7;
  --color-seco-100: #e3e9ef;
  --color-seco-200: #c4d0de;
  --color-seco-300: #a8bbcf;
  --color-seco-400: #8ba3bb;
  --color-seco-500: #798ea3;
  --color-seco-600: #657688;
  --color-seco-main-700: #536271;
  --color-seco-800: #36414c;
  --color-seco-900: #1e242b;
  --color-seco-950: #11161b;

  --color-tert-50: #c2fffc;
  --color-tert-100: #10fff9;
  --color-tert-200: #00e6e1;
  --color-tert-300: #00cbc6;
  --color-tert-400: #00b0ac;
  --color-tert-500: #009693;
  --color-tert-main-600: #007f7c;
  --color-tert-700: #005f5d;
  --color-tert-800: #00413f;
  --color-tert-900: #002423;
  --color-tert-950: #001716;

  --color-neut-50: #f3f3f4;
  --color-neut-100: #e4e5e7;
  --color-neut-200: #cdcfd2;
  --color-neut-300: #b3b6bb;
  --color-neut-400: #9a9ea4;
  --color-neut-500: #83878c;
  --color-neut-600: #6f7277;
  --color-neut-700: #5a5c60;
  --color-neut-main-800: #45474a;
  --color-neut-900: #252628;
  --color-neut-950: #171819;
}
